<script setup>
import SpotifyIcon from './icons/mobileIcons/IconSpotify.vue';
import ApplePodcastsIcon from './icons/mobileIcons/IconApplePodcasts.vue';
import GooglePodcastsIcon from './icons/mobileIcons/IconGooglePodcast.vue';
import PocketCastsIcon from './icons/mobileIcons/IconPocketCasts.vue';
import Spotify from './icons/IconSpotify.vue';
import ApplePodcasts from './icons/IconApplePodcats.vue';
import GooglePodcasts from './icons/IconGooglePodcast.vue';
import PocketCasts from './icons/IconPocketCasts.vue'

import * as Yup from 'yup';
import { ErrorMessage, Field, Form as VeeForm } from 'vee-validate';
const emailRules = Yup.string()
    .required('Your Email is Required')
    .email('Oops! Please check your email')
</script>
<template>
    <div class="w-full h-full ">
        <div class="relative bg-[url('../assets/images/mobile/image-host.jpg')] bg-no-repeat bg-cover h-[667px] md:hidden">
            <div class="absolute inset-0 z-0 bg-dark-grey opacity-90">
                <div class="flex flex-col mt-[62px] mb-[94-px]">
                    <img src="../assets/images/desktop/logo.svg" alt="" class="mx-[120px]">
                    <div class=" mx-6 mt-[57px]">
                        <h1 class=" w-[327px] text-[26px] text-center uppercase text-light-green leading-[38px]">Publish
                            your podcasts <span class="text-white">everywhere.</span>
                        </h1>
                        <p class="mt-4 text-[15px] text-off-white text-center"> Upload your audio to Pod with a single
                            click. We’ll then distribute your podcast to Spotify,
                            Apple Podcasts, Google Podcasts, Pocket Casts and more!
                        </p>
                        <div class=" mt-[33px] mx-2 flex flex-row gap-4">
                            <SpotifyIcon class="" />
                            <ApplePodcastsIcon />
                            <GooglePodcastsIcon />
                            <PocketCastsIcon />
                        </div>
                        <VeeForm v-slot="{ errors }">
                            <form class="mt-[51px]">
                                <Field name="email" type="email" placeholder="Email address" :rules="emailRules"
                                    class="w-[327px] h-[46px] rounded-[28px] bg-grey pl-[32px] text-white ring-grey ring-offset-grey" />
                                <ErrorMessage name="email" class="block text-error text-xs" />
                                <button
                                    class="mt-4 w-[327px] h-[46px] rounded-[28px] bg-light-green text-dark-grey font-bold hover:bg-active"
                                    :disabled="Object.keys(errors).length !== 0 || Field > 1">
                                    Request Access
                                </button>
                            </form>
                        </VeeForm>
                    </div>
                </div>
            </div>

        </div>
        <div class="md:grid grid-cols-3 bg-dark-grey hidden lg:hidden">
            <div class=" bg-dark-grey h-[1024px] flex flex-col">
                <img src="../assets/images/desktop/logo.svg" alt="app-logo" class="w-[134px] mt-[50px] ml-[39px]">
                <div class=" bg-dark-grey ml-[39px] mt-[162.35px] w-[635px] h-[509px] z-10">
                    <div class="mt-[93px]">
                        <h1 class=" w-[635px] text-[48px] text-left uppercase text-light-green leading-[56px]">Publish
                            your podcasts <span class="text-white">everywhere.</span>
                        </h1>
                        <p class="w-[445px] mt-[31px] text-[18px] text-off-white text-left"> Upload your audio to Pod with a
                            single
                            click. We’ll then distribute your podcast to Spotify,
                            Apple Podcasts, Google Podcasts, Pocket Casts and more!
                        </p>
                        <VeeForm v-slot="{ errors }">
                            <form class="mt-[40px]">
                                <div class="flex items-center justify-between w-[427px] h-[56px] rounded-[28px] bg-grey">
                                    <Field name="email" type="email" placeholder="Email address" :rules="emailRules"
                                        class=" bg-grey ml-2 pl-[30px] text-white" />
                                    <button
                                        class=" w-[167px] h-[46px] mr-2 rounded-[28px] bg-light-green text-dark-grey font-bold hover:bg-active"
                                        :disabled="Object.keys(errors).length !== 0 || Field > 1">
                                        Request Access
                                    </button>
                                </div>
                                <ErrorMessage name="email" class="text-error text-sm" />
                            </form>
                        </VeeForm>
                        <div class="mt-16 w-[536px] flex items-center shrink-0 gap-x-8">
                            <Spotify />
                            <ApplePodcasts />
                            <GooglePodcasts />
                            <PocketCasts />
                        </div>
                    </div>
                </div>
                <div class="mt-[148px] ml-[30px]">
                    <img src="../assets/images/desktop/bg-pattern-dots.svg" alt="">
                </div>
            </div>
            <div
                class="relative col-span-2 bg-[url('../assets/images/tablet/image-host.jpg')] bg-no-repeat bg-cover h-[767px]">
            </div>
        </div>
        <div class=" lg:block bg-dark-grey hidden md:hidden">
            <div class="grid grid-cols-3">
                <div class="col-span-1 my-[112px] ml-[165px] flex flex-col">
                    <img src="../assets/images/desktop/logo.svg" alt="" class="w-[134px]">
                    <div class="flex flex-row z-10">
                        <div class=" bg-dark-grey mt-[113px] w-[723px] h-[570px] z-10">
                            <div class="mt-[93px]">
                                <h1 class=" w-[635px] text-[48px] text-left uppercase text-light-green leading-[56px]">
                                    Publish
                                    your podcasts <span class="text-white">everywhere.</span>
                                </h1>
                                <p class="w-[445px] mt-[31px] text-[18px] text-off-white text-left"> Upload your audio to
                                    Pod
                                    with a
                                    single
                                    click. We’ll then distribute your podcast to Spotify,
                                    Apple Podcasts, Google Podcasts, Pocket Casts and more!
                                </p>
                                <VeeForm v-slot="{ errors }">
                                    <form class="mt-[40px]">
                                        <div
                                            class="flex items-center justify-between w-[427px] h-[56px] rounded-[28px] bg-grey">
                                            <Field name="email" type="email" placeholder="Email address" :rules="emailRules"
                                                class=" bg-grey ml-2 pl-[30px] text-white" />
                                            <button
                                                class=" w-[167px] h-[46px] mr-2 rounded-[28px] bg-light-green text-dark-grey font-bold hover:bg-active"
                                                :disabled="Object.keys(errors).length !== 0 || Field > 1">
                                                Request Access
                                            </button>
                                        </div>
                                        <ErrorMessage name="email" class="text-error" />
                                    </form>
                                </VeeForm>
                                <div class="mt-16 w-[536px] flex items-center shrink-0 gap-x-8">
                                    <Spotify />
                                    <ApplePodcasts />
                                    <GooglePodcasts />
                                    <PocketCasts />
                                </div>
                            </div>
                        </div>
                        <img src="../assets/images/desktop/bg-pattern-dots.svg" alt="" class="w-[232px] h-[104px] self-end ml-[320px] -mb-8">
                    </div>

                </div>
                <div
                    class="relative col-span-2 my-[130px] bg-[url('../assets/images/desktop/image-host.jpg')] bg-no-repeat bg-cover h-[700px]">
                   
                </div>
            </div>
        </div>
</div></template>