<template>
    <svg width="96" height="29" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <filter id="a">
            <feColorMatrix in="SourceGraphic"
                values="0 0 0 0 0.353480 0 0 0 0 0.401652 0 0 0 0 0.540147 0 0 0 1.000000 0" />
        </filter>
    </defs>
    <g filter="url(#a)" fill="none" fill-rule="evenodd">
        <path
            d="M14.425.048C6.482.048.043 6.52.043 14.503c0 7.984 6.44 14.456 14.382 14.456 7.944 0 14.382-6.472 14.382-14.456C28.807 6.52 22.369.05 14.425.05V.048zm6.595 20.849a.893.893 0 01-1.233.298c-3.376-2.073-7.627-2.542-12.633-1.393a.897.897 0 01-1.073-.678.9.9 0 01.674-1.079c5.478-1.258 10.177-.716 13.968 1.612.423.261.557.815.297 1.24zm1.76-3.936a1.118 1.118 0 01-1.542.371c-3.865-2.388-9.758-3.08-14.33-1.685a1.122 1.122 0 01-1.4-.75 1.13 1.13 0 01.748-1.406c5.223-1.593 11.716-.822 16.155 1.92a1.13 1.13 0 01.37 1.55zm.152-4.099C18.297 10.095 10.649 9.84 6.224 11.19a1.344 1.344 0 01-1.678-.9 1.354 1.354 0 01.897-1.687c5.08-1.55 13.525-1.25 18.862 1.933.64.382.85 1.212.47 1.853a1.34 1.34 0 01-1.843.473zm16.24.53c-2.484-.595-2.926-1.013-2.926-1.89 0-.83.777-1.388 1.932-1.388 1.12 0 2.23.424 3.394 1.296a.16.16 0 00.122.03.16.16 0 00.108-.066l1.213-1.718a.164.164 0 00-.031-.222c-1.386-1.118-2.946-1.661-4.77-1.661-2.68 0-4.554 1.617-4.554 3.931 0 2.482 1.616 3.36 4.409 4.039 2.375.55 2.777 1.01 2.777 1.834 0 .913-.811 1.481-2.116 1.481-1.45 0-2.633-.492-3.955-1.641a.16.16 0 00-.23.017l-1.36 1.626a.165.165 0 00.015.228c1.539 1.38 3.431 2.11 5.475 2.11 2.888 0 4.755-1.587 4.755-4.043.005-2.073-1.23-3.221-4.254-3.96l-.005-.003zm10.794-2.461c-1.252 0-2.279.496-3.127 1.511V11.3a.163.163 0 00-.161-.164h-2.224a.163.163 0 00-.162.164v12.705c0 .09.072.164.162.164h2.224c.089 0 .161-.074.161-.164v-4.01c.848.955 1.875 1.422 3.127 1.422 2.327 0 4.684-1.8 4.684-5.242.003-3.442-2.353-5.243-4.682-5.243h-.002zm2.097 5.243c0 1.752-1.073 2.976-2.612 2.976-1.52 0-2.667-1.28-2.667-2.976 0-1.697 1.147-2.976 2.667-2.976 1.513 0 2.612 1.251 2.612 2.976zm8.623-5.243c-2.997 0-5.344 2.32-5.344 5.28 0 2.93 2.332 5.224 5.308 5.224 3.007 0 5.362-2.311 5.362-5.26 0-2.94-2.34-5.244-5.326-5.244zm0 8.236c-1.594 0-2.796-1.288-2.796-2.994 0-1.714 1.161-2.957 2.76-2.957 1.604 0 2.813 1.287 2.813 2.995 0 1.713-1.168 2.956-2.777 2.956zm11.724-8.032h-2.447V8.621a.163.163 0 00-.161-.164h-2.224a.164.164 0 00-.163.164v2.514h-1.069a.163.163 0 00-.161.164v1.92c0 .09.072.165.161.165h1.069v4.97c0 2.008.994 3.026 2.957 3.026.797 0 1.458-.166 2.081-.521a.16.16 0 00.083-.142v-1.83a.163.163 0 00-.235-.145 2.795 2.795 0 01-1.306.316c-.712 0-1.032-.326-1.032-1.054v-4.62h2.447c.09 0 .162-.073.162-.163V11.3a.158.158 0 00-.16-.164h-.002zm8.525.01v-.309c0-.908.347-1.313 1.124-1.313.463 0 .836.092 1.253.232a.163.163 0 00.213-.156V7.716a.162.162 0 00-.115-.157 6.063 6.063 0 00-1.848-.267c-2.052 0-3.14 1.163-3.14 3.36v.473h-1.067a.164.164 0 00-.163.164v1.93c0 .09.073.165.163.165h1.068v7.665c0 .091.074.164.163.164h2.222a.162.162 0 00.163-.164v-7.665h2.077l3.18 7.665c-.36.804-.716.965-1.2.965-.392 0-.806-.118-1.226-.35a.176.176 0 00-.13-.013.162.162 0 00-.095.088l-.754 1.662a.164.164 0 00.07.213c.787.428 1.496.61 2.374.61 1.641 0 2.55-.769 3.348-2.837l3.858-10.018a.16.16 0 00-.018-.152.158.158 0 00-.132-.072h-2.315a.163.163 0 00-.154.11l-2.372 6.807-2.597-6.811a.162.162 0 00-.15-.106h-3.8zm-4.942-.01h-2.224a.164.164 0 00-.163.164v9.75c0 .091.074.164.163.164h2.224c.09 0 .163-.073.163-.164v-9.75a.163.163 0 00-.163-.163zm-1.1-4.44c-.88 0-1.595.717-1.595 1.603A1.6 1.6 0 0074.894 9.9c.88 0 1.593-.717 1.593-1.603s-.714-1.602-1.593-1.602zm19.479 7.575c-.88 0-1.565-.71-1.565-1.573 0-.862.694-1.58 1.574-1.58.879 0 1.564.71 1.564 1.571 0 .863-.694 1.582-1.573 1.582zm.009-2.997c-.802 0-1.409.64-1.409 1.424 0 .784.603 1.416 1.4 1.416.802 0 1.408-.64 1.408-1.425 0-.784-.603-1.415-1.4-1.415zm.346 1.577l.444.623h-.375l-.398-.572h-.342v.572h-.313v-1.651h.732c.383 0 .634.196.634.526.001.271-.155.437-.38.502h-.002zm-.264-.745h-.407v.522h.407c.203 0 .325-.1.325-.261 0-.17-.122-.26-.325-.26z"
            fill="#1ED760" fill-rule="nonzero" />
    </g>
</svg></template>