<script setup>
import CardComponent from './components/CardComponent.vue';
</script>

<template>
<div class=" font-Chivo">
  <CardComponent />
  <!-- <div class="bg-dark-grey text-white md:text-lighter-grey lg:text-light-green">mobile</div>
  <div class="bg-dark-grey text-white md:text-lighter-grey lg:text-light-green">tablet</div>
  <div class="bg-dark-grey text-white md:text-lighter-grey lg:text-light-green">desktop</div> -->
</div>
</template>

<style scoped>
</style>
