<template>
    <svg width="77" height="16" viewBox="0 0 77 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M15.1686 8.44892C15.1686 12.5644 11.7733 15.9008 7.5843 15.9008C3.39525 15.9008 0 12.5644 0 8.44892C0 4.33411 3.39525 0.997749 7.5843 0.997749C11.7733 0.997749 15.1686 4.33411 15.1686 8.44892ZM7.65459 12.0371C5.67651 12.0371 4.07331 10.4613 4.07331 8.51798C4.07331 6.57462 5.67651 4.99956 7.65459 4.99956C9.63267 4.99956 11.2359 6.57462 11.2359 8.51798H9.93371C9.93371 7.28123 8.91343 6.27886 7.65459 6.27886C6.39574 6.27886 5.37546 7.28123 5.37546 8.51798C5.37546 9.75472 6.39574 10.7571 7.65459 10.7571V12.0371ZM7.65459 2.65372C4.35802 2.65372 1.68556 5.27928 1.68556 8.51798C1.68556 11.7567 4.35802 14.3829 7.65459 14.3829V12.9167C5.18234 12.9167 3.17799 10.9475 3.17799 8.51798C3.17799 6.08913 5.18234 4.11996 7.65459 4.11996C10.1275 4.11996 12.1312 6.08913 12.1312 8.51798H13.6236C13.6236 5.27928 10.9511 2.65372 7.65459 2.65372Z"
            fill="#5A668A" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M20.0408 4.48477V12.5993H21.869V10.2695H22.3298C24.0999 10.2695 25.3857 9.40037 25.3857 7.30215C25.3857 5.42367 24.3001 4.48477 22.283 4.48477H20.0408ZM23.5688 7.35935C23.5688 8.34498 23.1321 8.80885 22.2588 8.80885H21.8577V5.96845H22.283C23.1321 5.96845 23.5688 6.3507 23.5688 7.35935Z"
            fill="#5A668A" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M25.5618 9.60893C25.5618 11.6604 26.6708 12.7158 28.0638 12.7158C29.4562 12.7158 30.5773 11.6493 30.5773 9.58522C30.5773 7.53374 29.4562 6.46719 28.0752 6.46719C26.6829 6.46719 25.5618 7.53374 25.5618 9.60893ZM27.1905 9.58522C27.1905 8.44962 27.5207 7.89297 28.0518 7.89297C28.5942 7.89297 28.9485 8.44962 28.9485 9.59708C28.9485 10.7334 28.6063 11.3012 28.0752 11.3012C27.5327 11.3012 27.1905 10.7334 27.1905 9.58522Z"
            fill="#5A668A" />
        <path
            d="M33.5847 12.6928C31.9445 12.6928 30.9768 11.5676 30.9768 9.60894C30.9768 7.69558 31.968 6.49022 33.6791 6.49022C34.2222 6.49022 34.6348 6.59415 35.0359 6.74552L34.7761 8.20618C34.4928 8.07853 34.1633 7.9739 33.8204 7.9739C33.0301 7.9739 32.6169 8.64633 32.6169 9.58522C32.6169 10.6057 33.0301 11.2084 33.8445 11.2084C34.1512 11.2084 34.4693 11.1156 34.8116 10.988L35.0714 12.3914C34.6582 12.5651 34.1157 12.6928 33.5847 12.6928"
            fill="#5A668A" />
        <path
            d="M37.3954 9.72473V12.6H35.6843V4.24133H37.3954V9.19111L38.7878 6.59485H40.6636L39.0001 9.46943L40.7112 12.6H38.8112L37.3954 9.72473"
            fill="#5A668A" />
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M42.9171 6.46719C41.5596 6.46719 40.4854 7.55676 40.4854 9.6201C40.4854 11.9157 41.6775 12.6928 43.1763 12.6928C43.8373 12.6928 44.5331 12.5414 45.1231 12.2519L44.8164 11.0696C44.3329 11.2893 43.8018 11.4288 43.3531 11.4288C42.5983 11.4288 42.1382 11.0229 42.0786 10.1998H45.324V9.65497C45.324 7.5449 44.3563 6.46719 42.9171 6.46719ZM42.9171 7.75416C43.4354 7.75416 43.7074 8.28709 43.7429 9.19111H42.0786C42.1141 8.31011 42.3853 7.75416 42.9171 7.75416Z"
            fill="#5A668A" />
        <path
            d="M46.2428 10.8024V7.97389H45.5825V6.59415H46.2428V5.01839H47.9426V6.59415H49.2405V7.97389H47.9426V10.5597C47.9426 11.0577 48.2138 11.2663 48.6739 11.2663C48.8748 11.2663 49.0516 11.2314 49.2405 11.1854V12.5533C48.9806 12.6342 48.615 12.6809 48.1904 12.6809C46.8925 12.6809 46.2428 12.1592 46.2428 10.8024"
            fill="#5A668A" />
    <path
        d="M54.9857 12.6928C52.8379 12.6928 51.4924 11.3479 51.4924 8.55355C51.4924 5.86452 52.8734 4.392 54.9977 4.392C55.7056 4.392 56.2956 4.53081 56.7557 4.7052L56.4724 6.3514C56.1068 6.20073 55.6822 6.06122 55.1745 6.06122C54.0421 6.06122 53.369 6.94222 53.369 8.53053C53.369 10.1649 54.0066 11.0229 55.21 11.0229C55.6701 11.0229 56.1068 10.9071 56.4845 10.7445L56.7791 12.3447C56.2722 12.5533 55.6467 12.6928 54.9857 12.6928"
        fill="#5A668A" />
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M57.1086 10.7794C57.1086 12.0782 57.781 12.6809 58.7367 12.6809C59.3743 12.6809 59.8109 12.4605 60.2597 12.0782L60.4719 12.6H61.9587L61.8288 11.5335V8.53053C61.8288 7.15079 61.1323 6.50208 59.5866 6.50208C58.7963 6.50208 58.0764 6.68762 57.4629 6.93107L57.781 8.20618C58.2532 8.00877 58.7843 7.86996 59.2798 7.86996C59.9167 7.86996 60.1532 8.14828 60.1532 8.65819V8.9944C59.8699 8.93651 59.5397 8.88977 59.2088 8.88977C58.442 8.88977 57.9344 9.06346 57.5929 9.41153C57.2741 9.71357 57.1086 10.1998 57.1086 10.7794ZM60.1532 9.89842V11.3249C59.9288 11.4519 59.681 11.5446 59.4446 11.5446C58.9731 11.5446 58.7019 11.3012 58.7019 10.6985C58.7019 10.3972 58.7729 10.1886 58.9021 10.0491C59.0441 9.92144 59.2443 9.85238 59.5986 9.85238C59.7989 9.85238 59.9877 9.86354 60.1532 9.89842Z"
        fill="#5A668A" />
    <path
        d="M64.6718 12.7039C63.8453 12.7039 63.0785 12.4954 62.4175 12.1473L62.7597 10.7913C63.4094 11.1387 64.0576 11.3479 64.6476 11.3479C65.085 11.3479 65.3207 11.1624 65.3207 10.9071C65.3207 10.6525 65.1794 10.536 64.353 10.2116C63.2084 9.75961 62.6418 9.33062 62.6418 8.32197C62.6418 7.20869 63.4207 6.49022 64.7896 6.49022C65.4854 6.49022 66.123 6.65275 66.701 6.93107L66.3587 8.28709C65.8276 8.02063 65.2852 7.84625 64.7896 7.84625C64.424 7.84625 64.223 7.99761 64.223 8.24106C64.223 8.47264 64.353 8.58843 65.1673 8.91349C66.4539 9.41154 66.9019 9.8754 66.9019 10.8262C66.9019 12.0782 66.0051 12.7039 64.6718 12.7039"
        fill="#5A668A" />
    <path
        d="M67.8803 10.8024V7.97389H67.2192V6.59415H67.8803V5.01839H69.5793V6.59415H70.8772V7.97389H69.5793V10.5597C69.5793 11.0577 69.8512 11.2663 70.3106 11.2663C70.5115 11.2663 70.6883 11.2314 70.8772 11.1854V12.5533C70.618 12.6342 70.2517 12.6809 69.8271 12.6809C68.5292 12.6809 67.8803 12.1592 67.8803 10.8024"
        fill="#5A668A" />
    <mask id="mask0_0_833" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="71" y="6" width="5" height="7">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.2507 6.35419H75.88V12.7828H71.2507V6.35419Z"
            fill="white" />
    </mask>
    <g mask="url(#mask0_0_833)">
        <path
            d="M73.6498 12.7039C72.8233 12.7039 72.0565 12.4954 71.3955 12.1473L71.7377 10.7913C72.3874 11.1387 73.0356 11.3479 73.6256 11.3479C74.0623 11.3479 74.2987 11.1624 74.2987 10.9071C74.2987 10.6525 74.1567 10.536 73.331 10.2116C72.1865 9.75961 71.6199 9.33062 71.6199 8.32197C71.6199 7.20869 72.3987 6.49022 73.7676 6.49022C74.4634 6.49022 75.101 6.65275 75.679 6.93107L75.3368 8.28709C74.8057 8.02063 74.2632 7.84625 73.7676 7.84625C73.402 7.84625 73.2011 7.99761 73.2011 8.24106C73.2011 8.47264 73.331 8.58843 74.1454 8.91349C75.4312 9.41154 75.8792 9.8754 75.8792 10.8262C75.8792 12.0782 74.9832 12.7039 73.6498 12.7039"
            fill="#5A668A" />
    </g>
</svg></template>